{% extends 'base/base.html' %}

{% block content %}
<section class="section">
    <a href="{% url 'earnings:flight_create' %}" class="button is-primary">Create New Flight</a>
</section>
<section class="section">
    <div class="table-container">
        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th style="background-color: #5892b1;">Flight</th>
                    <th style="background-color: #5892b1;">Origin</th>
                    <th style="background-color: #5892b1;">Destination</th>
                    <th style="background-color: #5892b1;">Departure Date</th>
                    <th style="background-color: #5892b1;">Return Date</th>
                    <th style="background-color: #5892b1;">Price</th>
                    <th style="background-color: #5892b1;">Airline</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in object_list %}
                <tr>
                    <td>{{ flight.name }}</td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.start_date }}</td>
                    <td>{{ flight.end_date }}</td>
                    <td>{{ flight.cost }}</td>
                    <td>{{ flight.airline }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}