{% extends 'base/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="title">Add Hotel</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Hotel Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" value="{{ form.name.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Hotel Chain</label>
                        <div class="control">
                            <input class="input" type="text" name="hotel_chain" value="{{ form.hotel_chain.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">City</label>
                        <div class="control">
                            <input class="input" type="text" name="city" value="{{ form.city.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">State</label>
                        <div class="control">
                            <input class="input" type="text" name="state" value="{{ form.state.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Start Date</label>
                        <div class="control">
                            <input class="input" type="date" name="start_date" value="{{ form.start_date.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">End Date</label>
                        <div class="control">
                            <input class="input" type="date" name="end_date" value="{{ form.end_date.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Cost</label>
                        <div class="control">
                            <input class="input" type="text" name="cost" value="{{ form.cost.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Shared</label>
                        <div class="control">
                            <input class="input" type="text" name="shared" value="{{ form.shared.value }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}