{% extends 'base/base.html' %}

{% block content %}
<section class="section">
    <a href="{% url 'earnings:trip_create' %}" class="button is-primary">Create New Trip</a>
</section>
<section class="section">
    <div class="table-container">
        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Trip Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in object_list %}
                <tr>
                    <td><a href="#">{{ trip.name }}</a></td>
                    <td>{{ trip.start_date }}</td>
                    <td>{{ trip.end_date }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</section>
{% endblock content %}