{% extends 'base/base.html' %}

{% block content %}
<h3 class="title">Trip Details</h3>
<section class="section">
    <h5 class="sub_title">Flight Summary</h3>
    <div class="table-container">
        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th style="background-color: #5892b1;">Flight</th>
                    <th style="background-color: #5892b1;">Origin</th>
                    <th style="background-color: #5892b1;">Destination</th>
                    <th style="background-color: #5892b1;">Departure Date</th>
                    <th style="background-color: #5892b1;">Return Date</th>
                    <th style="background-color: #5892b1;">Price</th>
                    <th style="background-color: #5892b1;">Airline</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight.name }}</td>
                    <td>{{ flight.origin }}</td>
                    <td>{{ flight.destination }}</td>
                    <td>{{ flight.start_date }}</td>
                    <td>{{ flight.end_date }}</td>
                    <td>{{ flight.cost }}</td>
                    <td>{{ flight.airline }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h5 class="sub_title">Hotel Summary</h3>
    <div class="table-container">
        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th style="background-color: #5892b1;">Hotel</th>
                    <th style="background-color: #5892b1;">Hotel Chain</th>
                    <th style="background-color: #5892b1;">City</th>
                    <th style="background-color: #5892b1;">State</th>
                    <th style="background-color: #5892b1;">Check-In</th>
                    <th style="background-color: #5892b1;">Check-Out</th>
                    <th style="background-color: #5892b1;">Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for hotel in hotels %}
                <tr>
                    <td>{{ hotel.name }}</td>
                    <td>{{ hotel.hotel_chain }}</td>
                    <td>{{ hotel.city }}</td>
                    <td>{{ hotel.state }}</td>
                    <td>{{ hotel.start_date }}</td>
                    <td>{{ hotel.end_date }}</td>
                    <td>{{ hotel.cost }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h5 class="sub_title">Event Summary</h3>
    <div class="table-container">
        <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th style="background-color: #5892b1;">Event</th>
                    <th style="background-color: #5892b1;">City</th>
                    <th style="background-color: #5892b1;">State</th>
                    <th style="background-color: #5892b1;">Start Date</th>
                    <th style="background-color: #5892b1;">End Date</th>
                    <th style="background-color: #5892b1;">Cost</th>
                    <th style="background-color: #5892b1;">Website</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.city }}</td>
                    <td>{{ event.state }}</td>
                    <td>{{ event.start_date }}</td>
                    <td>{{ event.end_date }}</td>
                    <td>{{ event.cost }}</td>
                    <td>{{ event.website }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}