{% extends 'workout/base.html' %}

{% block content %}
<!-- Display a table of exercises -->
<section class="section">
    <div class="column">
        <h2 class="title">Exercises</h2>
        <!-- Add a search input field -->
        <form method="GET" action="{% url 'workout:exercises' %}">
            <input type="text" name="q" placeholder="Search exercises by Category" value="{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>
        <br>
        <br>
        <div class="table-container">
            <table class="table is-bordered is-hoverable is-fullwidth">
                <thead class="header-cell">
                    <tr>
                        <th style="background-color: #5892b1;">Category</th>
                        <th style="background-color: #5892b1;">Exercise</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.category }}</td>
                        <td>{{ exercise.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}