{% extends 'workout/base.html' %}

{% block content %}
{% for date, workouts in workouts_by_date.items %}
<section class="section">
    <br>
    <br>
    <div class="column">
        <h2 class="title">{{ date }}</h2>
        <br>
        <div class="table-container">
            <table class="table is-bordered is-hoverable is-fullwidth">
                <thead class="header-cell">
                    <tr>
                        <th style="background-color: #5892b1;">Category</th>
                        <th style="background-color: #5892b1;">Exercise</th>
                        <th style="background-color: #5892b1;">Sets</th>
                        <th style="background-color: #5892b1;">Reps</th>
                        <th style="background-color: #5892b1;">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workout in workouts %}
                    <tr>
                        <td>{{ workout.exercise.category }}</td>
                        <td>{{ workout.exercise }}</td>
                        <td>{{ workout.sets }}</td>
                        <td>{{ workout.reps }}</td>
                        <td>{{ workout.weight }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endfor %}
{% endblock content %}