{% extends 'workout/base.html' %}

{% block content %}
{% for date, workouts in workouts_by_date.items %}
<section class="section">
    <div class="column">
        <h2 class="title">{{ date }}</h2>
        <div class="table-container" style="margin-bottom: .1px;">
            <table class="table is-bordered is-hoverable is-fullwidth">
                <thead class="header-cell">
                    <tr>
                        <th style="background-color: #5892b1;">Category</th>
                        <th style="background-color: #5892b1;">Exercise</th>
                        <th style="background-color: #5892b1;" class="has-text-centered">Sets/Attempts</th>
                        <th style="background-color: #5892b1;" class="has-text-centered">Reps/Miles</th>
                        <th style="background-color: #5892b1;" class="has-text-centered">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workout in workouts %}
                    <tr>
                        <td>{{ workout.exercise.category }}</td>
                        <td>{{ workout.exercise }}</td>
                        <td class="has-text-centered">{{ workout.sets }}</td>
                        <td class="has-text-centered">{{ workout.reps }}</td>
                        <td class="has-text-centered">{{ workout.weight }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endfor %}
<section>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock content %}